﻿@model WebApplicationMvc.Models.StudentData

@{
    ViewData["Title"] = "create";
}

<h1>create</h1>
<body style="background-color:#4cff00;">
</body>
<h4>StudentData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<center>
    <img src="https://www.revistamercado.do/wp-content/uploads/2019/04/15-carreras-deberias-estudiar-universidad-harvard.jpg" width="712" height="350">
</center>

