﻿@model WebApplicationMvc.Models.StudentData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<body style="background-color:#4cff00;">
</body>
<div>
    <h4>StudentData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<center>
    <img src="https://www.revistamercado.do/wp-content/uploads/2019/04/15-carreras-deberias-estudiar-universidad-harvard.jpg" width="712" height="350">
</center>
