﻿@model IEnumerable<WebApplicationMvc.Models.StudentData>

@{
    ViewData["Title"] = "STRONGUNIVERSITY";
}
    <center>
        <h1>STRONUNIVERSITY</h1>
    </center>


<p>
    <a asp-action="Create">Create New</a>
</p>

<body style="background-color:#4cff00;">
</body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=> item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem=> item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<center>
<img src="https://www.revistamercado.do/wp-content/uploads/2019/04/15-carreras-deberias-estudiar-universidad-harvard.jpg" width="712" height="350">
  </center>