﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<center>
    <p>TODOS LOS ESTUDIANTES DE ESTA UNIVERSIDAD TIENEN QUE PERMANECER TOTALMENTE CALLADO Y EN SILENCIO SINO SERAN EXPULSADO SEGUN LA LEY 352 ALTICULO 4.</p>

</center>

<body style="background-color:#4cff00;">
</body>
<center>
    <img src="https://www.revistamercado.do/wp-content/uploads/2019/04/15-carreras-deberias-estudiar-universidad-harvard.jpg" width="712" height="350">
</center>
